sudo: required
language: python
python:
  - '3.11'
before_install:
  - virtualenv -p python3 env
  - source env/bin/activate
  - cp -rf sample.env .env
before_script:
  # install requirements:
  - pip install -U pip wheel uv && uv pip install -r pyproject.toml --extra prod
services:
  - redis-server
addons:
  apt:
    packages:
      - python3.11-{venv,dev,distutils}
      - python3-pip
      - git
      - virtualenv
env:
  - DJANGO_SETTINGS_MODULE=config.settings.dev
script:  
  - python manage.py samples