asgiref
celery
coreapi
coreschema
Django==3.2.*
django-3-jet==1.0.8
django-autoslug
django-crequest
django-environ
django-filter
djangorestframework
dnspython
email-validator
gunicorn
importlib-metadata==4.8.2
itypes
Markdown
MarkupSafe
pexpect
Pillow
psycopg2-binary
ptyprocess
pysha3
python-dateutil
pytz
PyYAML
redis
requests
tablib
ua-parser
uritemplate
user-agents
xlrd
xlwt
zipp
