asgiref==3.2.7
celery==4.4.2
coreapi==2.3.3
coreschema==0.0.4
Django==3.0.*
django-3-jet==1.0.8
django-autoslug==1.9.7
django-crequest==2018.5.11
django-environ
django-filter==2.2.0
djangorestframework==3.11.0
dnspython==1.16.0
email-validator==1.1.0
gunicorn
importlib-metadata==1.6.0
itypes==1.2.0
Markdown==3.2.2
MarkupSafe==1.1.1
pexpect==4.8.0
Pillow
psycopg2-binary
ptyprocess==0.6.0
pysha3==1.0.2
python-dateutil==2.8.1
pytz
PyYAML==5.3.1
redis==3.5.1
requests==2.23.0
tablib==1.1.0
ua-parser==0.10.0
uritemplate==3.0.1
urllib3==1.25.9
user-agents==2.1
xlrd==1.2.0
xlwt==1.3.0
