{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{% block title %}{% trans "Home" %}{% endblock title %}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="robots" content="all,follow">
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/base.css' %}">
	{% block extracss %}{% endblock extracss %}
</head>
<body id="page-top">
<div id="wrapper">
    {% include "web/includes/sidebar.html" %}
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            {% include "web/includes/topbar.html" %}
            <div class="container-fluid">
				{% block content %}{% endblock content %}
            </div>
        </div>
        {% include 'web/includes/footer.html' %}
    </div>
</div>
<div class="modal fade" id="quick_display_modal" role="dialog">
    <div class="modal-dialog" style="max-width:80%;">
        <div class="modal-content" style="height:90vh;">
            <div class="modal-header">
                <h4 class="modal-title">{% trans "Show Details" %}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-validation/additional-methods.min.js' %}"></script>
<script src="{% static 'assets/vendor/toastr/toastr.min.js' %}"></script>
<script src="{% static 'assets/vendor/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/sb-admin-2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'web/global.js' %}"></script>
<script>
var global_trans = {
    areyousuretodelete: "{% trans 'Are you sure to delete?' %}",
	no: "{% trans 'No' %}",
	yes: "{% trans 'Yes' %}",
	youwontabletorevertthis: "{% trans 'You wont be able to revert this!' %}",
};
</script>
{% block extrajs %}{% endblock extrajs %}
</body>
</html>
