{% extends "web/base.html" %}
{% load static i18n humanize %}
{% block title %}{% trans "Dashboard" %}{% endblock title %}
{% block extracss %}{% endblock extracss %}
{% block content %}
<div class="row">
    <div class="col-lg-4 mb-4">
        <div class="card bg-primary text-white shadow">
            <div class="card-body">
                {% trans "Your IP Address" %}
                <div class="text-white-50 small">{{ ip_address }}</div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card bg-success text-white shadow">
            <div class="card-body">
                {% trans "Last Login" %}
                <div class="text-white-50 small">{{ user.last_login|naturaltime }}</div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card bg-secondary text-white shadow" id="binding_status">
            <div class="card-body">
                {% trans "Jasmin SMS Gateway" %}
                <div class="text-white-50 small">
                    {{ SETTINGS.TELNET_HOST }} - {{ SETTINGS.TELNET_PORT }} - <span id="binding_status_text"></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block extrajs %}
<script type="text/javascript" src="{% static 'web/dashboard.js' %}"></script>
{% endblock extrajs %}