{% extends "base.html" %}
{% block title %}Groups{% endblock %}
{% block extracss %}
<style type="text/css">
.help-block{font-size:9px;}
.text-default{color:#999;}  
</style>
{% endblock %}
{% block content %}
{% include "account/includes/sidebar.html" with item="groups" %}
<div class="main-panel">
	<div class="content">
        <div class="container-fluid">
        	<div class="row">
        		<div class="col-md-12">
        			<div class="card">
        				<div class="header">
        					<h4 class="title">Groups <button class="btn btn-info pull-right" data-toggle="modal" data-target="#add_groups_modal">Add New</button></h4>
        				</div>
        				<div class="content table-responsive table-full-width">
        					<table class="table table-hover table-striped">
        						<thead>
        							<tr>
        								<th>#</th>
        								<th>GID Name</th>
        								<th class="text-center">Status</th>
        								<th class="text-center">Option</th>
        							</tr>
        						</thead>
        						<tbody id="table_result">
        						</tbody>
        					</table>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
    </div>
</div>
<div class="modal" id="add_groups_modal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form class="form-horizontal" action="{% url 'groups_view_manage' %}" method="POST" id="add_groups_form">{% csrf_token %}<input type="hidden" name="s" value="add">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="defModalHead">Add New Group Name</h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>GID Name</label>
									<input type="text" name="gid" class="form-control" maxlength="8" placeholder="GID Name" required="required">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-fill pull-left" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
					<button type="submit" class="btn btn-info btn-fill pull-right"><i class="fa fa-plus"></i> Add</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal" id="service_groups_modal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="form-horizontal" action="{% url 'groups_view_manage' %}" method="POST" id="service_groups_form">{% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="defModalHead">Service Group</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>GID Name</label>
                                    <input type="text" name="gid" class="form-control" placeholder="GID Name" required="required" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label>Status</label>
                                    <select name="s" class="form-control" required="required">
                                        <option value="enable">Enable</option><option value="disable">Disable</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-fill pull-left" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    <button type="submit" class="btn btn-info btn-fill pull-right"><i class="fa fa-check-circle"></i> Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<input type="hidden" name="urlto" value="{% url 'groups_view_manage' %}">{% csrf_token %}
{% endblock %}
{% block extrajs %}
<script type="text/javascript" src="/static/administration/js/groups.js"></script>
{% endblock %}