{% load i18n %}
<div class="modal fade" id="avatar-modal" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="{% url 'users:profile_view' %}" method="POST" class="avatar-form" enctype="multipart/form-data">{% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title" id="avatar-modal-label">{% trans "Change Avatar" %}</h4>
                </div>
                <div class="modal-body">
                    <div class="avatar-body">
                        <div class="avatar-upload">
                            <input type="hidden" class="avatar-src" name="avatar_src">
                            <input type="hidden" class="avatar-data" name="avatar_data">
                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                <span class="input-group-addon btn btn-default btn-file" style="border-right:#ddd 2px solid;">
                                <span class="fileinput-new">{% trans "Select File" %}</span>
                                <span class="fileinput-exists">{% trans "Change" %}</span>
                                <input type="file" class="avatar-input" id="avatarInput" name="avatar_file">
                                </span>
                                <div class="form-control1" data-trigger="fileinput">
                                    <i class="fa fa-file fileinput-exists"></i>
                                    <span class="fileinput-filename"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="avatar-wrapper"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="avatar-preview preview-lg"></div>
                            </div>
                        </div>
                        <div class="avatar-btns text-right">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-upload"></i>&nbsp;&nbsp;{% trans "Upload" %}</button>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="s" value="avatar">
            </form>
        </div>
    </div>
</div>